@import url('https://fonts.googleapis.com/css2? família= Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900 & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #6959CD;
    color: #fff;
    font-size: 1em;
}

.ajuda{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#dcdcdc;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.ajuda.abrir{
    display:flex;
}
.janela-ajuda{
    width: 40%;
    height: 80px;
    min-width: 450px;
    min-height:200px;
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    color: #000000;
}
.fechar{
    position: absolute;
    top: 120px;
    right: 320px;
    width: 30px;
    height: 30px;
    border-radius:50%;
    border: 0;
    background: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.btn-ajuda{
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    cursor: pointer;
}

.quiz {
    width: 560px;
    margin: 80px auto 0;
    text-align: center;

}

.quiz h1 {
    margin-bottom: 10px;
    font-size: 3em;
    color: #fff;
}

.container-perguntas {
    padding: 15px;
    background-color: #fff;
    text-align: left;
    border-radius: 15px;
}

.container-perguntas button {
    width: 100%;
    padding: 20px;
    margin: 5px;
    text-align: left;
    border-radius: 10px;
    border: none;
    background-color: #1E90FF;
    color: #fff;
    cursor: pointer;
    transition: .3s ease;
}

.container-perguntas button:hover{
    background-color: #87CEFA;
    transform: scale(1.05);
}
.container-perguntas h2{
    margin-bottom: 15px;
    color: black;
    font-weight: 600 ;
}

.desativar {
    display: none;
}
