@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(25, 14, 101);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.titulo {
    text-align: center;
    margin-bottom: 1em;
    color: #fff;
}

.ajuda{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(25, 14, 101);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.ajuda.abrir{
    display:flex;
}
.janela-ajuda{
    width: 40%;
    height: 80px;
    min-width: 450px;
    min-height:200px;
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    color: #000000;
}
#fechar{
    position: absolute;
    top: 120px;
    right: 320px;
    width: 30px;
    height: 30px;
    border-radius:50%;
    border: 0;
    background: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.btn-ajuda{
    margin: 5px;
    cursor: pointer;
    align-self: flex-end;
    
}

.quiz {
    margin-top: 3em;
    width: 100%;
    max-width: 560px;
    color: #000000;
}

#tela-inicial{
    padding: 25px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
}

#iniciarBtn{
    width: 30%;
    height: 30px;
    background-color: #1c81e6;
    cursor: pointer;
    color: white;
    font-size: 1em;
    border-radius: 7px;
    transition: .3s ease;
}

.iniciarBtn:hover{
    background-color: #065484;
    transform: scale(1.05);
}

.container-perguntas {
    padding: 25px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.questao-titulo {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.btn-correto, .btn-pergunta {
    width: 100%;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    border: none;
    background: #1E90FF;
    font-size: 17px;
    cursor: pointer;
    transition: .4s ease;
    color: #fff;
}

.btn-start button {
    width: 100%;
    height: 100%;
    background-color: #1c81e6;
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.5em;
    transition: .3s ease;
}

.btn-pergunta:hover,
.btn-correto:hover, 
.btn-start button:hover{
    background-color: #065484;
    transform: scale(1.05);
}

.btn-start button:active,
.btn-pergunta:active,
.btn-pergunta:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(1px);
}

.btn-start {
    cursor: pointer;
    color: white;
    font-weight: 500;
    height: 4em;
    width: 50%;
    border-radius: 0.5em;
}



#tela-final {
    text-align: center;
}


.desativar {
    display: none;
}

@media screen and (max-width: 560px) {
    .titulo{
        font-size: 3.5em;
    }
    .quiz {
        width: 100%;
    }

    .questao-titulo {
        font-size: 1.5em;
    }

    .btn-pergunta, .btn-correto {
        width: 100%;
        padding: 30px;
        font-size: 1em;
        text-align: center;
 
    }
}